name: Carp

on: [push, pull_request]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          if [[ "${{ matrix.compiler }}" == gcc ]]; then
            sudo apt-get install -y gcc g++
          else
            sudo apt-get install -y clang
            clang --version
          fi

      - name: Configure CMake GCC
        if: matrix.compiler == 'gcc'
        run: |
          mkdir build && cd build
          cmake .. \
            -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release

      - name: Configure CMake Clang
        if: matrix.compiler == 'clang'
        run: |
          mkdir build && cd build
          cmake .. \
            -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cd build
          cmake --build . --parallel $(nproc)

  windows-msvc-build:
    name: Windows (MSVC)
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # CMake 工具链配置
      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake .. `
            -G "Visual Studio 17 2022" `
            -A x64 `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded `
            -DCMAKE_CXX_FLAGS_RELEASE="/O2 /Ob2 /fp:fast"

      - name: Build
        run: |
          cd build
          cmake --build . --config Release --parallel 4

  macos-build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake .. \
            -DCMAKE_C_COMPILER=clang \
            -DCMAKE_CXX_COMPILER=clang++ \
            -DCMAKE_BUILD_TYPE=Release \

      - name: Build
        run: |
          cd build
          cmake --build . --parallel $(sysctl -n hw.logicalcpu)
